<a href="https://colab.research.google.com/github/RushilPatel0703/ACML_Project/blob/test/ACML_Project_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
######## :) ########

In [ ]:
####### test/commit #######

In [ ]:
#############

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('data.csv',header=None)

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,Bankrupt?,ROA(C) before interest and depreciation befor...,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after...,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to ...,Net Income Flag,Equity to Liability
1,1,0.370594257300249,0.424389446140427,0.40574977247176,0.601457213277793,0.601457213277793,0.998969203197885,0.796887145860514,0.808809360876843,0.302646433889668,...,0.716845343217827,0.00921944002110296,0.622878959445127,0.601453290101533,0.82789021403512,0.29020189277926,0.0266006307607414,0.564050112276341,1,0.0164687409123162
2,1,0.464290937454297,0.53821412996075,0.516730017666899,0.610235085544617,0.610235085544617,0.998945978205482,0.797380191277827,0.809300725667939,0.303556430290771,...,0.795297136043035,0.00832330179481035,0.623651741728055,0.610236525929872,0.839969268005573,0.283845979801729,0.264576819837375,0.570174946412453,1,0.020794306334635
3,1,0.426071271876371,0.499018752725687,0.472295090743616,0.601450006486113,0.601363524985947,0.998857353483229,0.796403369254357,0.808387521469543,0.302035177342951,...,0.774669696989803,0.0400028528527523,0.623841037589316,0.601449340486212,0.836774308550174,0.290188532942043,0.0265547199199004,0.563706076496047,1,0.0164741143272785
4,1,0.399844001364988,0.451264718709115,0.457733283366347,0.583541129160121,0.583541129160121,0.998699747067122,0.796966968308828,0.808965597694361,0.303349536022685,...,0.739554525158061,0.00325247529112739,0.622928709143491,0.583537612244893,0.834697106753341,0.281721192981814,0.0266966344214761,0.564663420271241,1,0.0239823322073886