<a href="https://colab.research.google.com/github/RushilPatel0703/ACML_Project/blob/rushil/ACML_Project_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [11]:
# for importing data that is already on github
url = 'https://raw.githubusercontent.com/RushilPatel0703/ACML_Project/main/data.csv'
data = pd.read_csv(url)

In [12]:
data.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [13]:
X = data.drop('Bankrupt?',axis=1)
y = data['Bankrupt?']

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [16]:
clf1 = RandomForestClassifier(n_estimators = 150) 
clf2 = RandomForestClassifier(n_estimators = 150,criterion='entropy',max_features='auto') 
clf3 = RandomForestClassifier(n_estimators = 150,criterion='entropy')

In [17]:
clf1.fit(X_train, y_train)
clf2.fit(X_train, y_train)
clf3.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=150)

In [18]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)
y_pred3 = clf3.predict(X_test)

In [19]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred1))
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred2))
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred3))

ACCURACY OF THE MODEL:  0.9743401759530792
ACCURACY OF THE MODEL:  0.9714076246334311
ACCURACY OF THE MODEL:  0.9743401759530792

In [25]:
#simple feature importance
feat = clf1.feature_importances

In [26]:
feat

array([0.01262815, 0.00902573, 0.01261947, 0.00678607, 0.00738839,
       0.00612181, 0.01035306, 0.00798515, 0.01260114, 0.01198991,
       0.01103122, 0.00673681, 0.00826977, 0.0145317 , 0.00267713,
       0.01672046, 0.02040328, 0.01714456, 0.02987327, 0.00670179,
       0.0094414 , 0.00673107, 0.0158535 , 0.00720706, 0.00664839,
       0.007614  , 0.00672358, 0.00933684, 0.00729261, 0.02888318,
       0.01056858, 0.00661519, 0.00914737, 0.01226606, 0.01508689,
       0.01335255, 0.0172813 , 0.01475768, 0.00735386, 0.02105878,
       0.00587965, 0.00637656, 0.01645713, 0.00735957, 0.00548804,
       0.01276812, 0.01099486, 0.00816903, 0.01083091, 0.00694662,
       0.01040946, 0.00879633, 0.01067469, 0.01016853, 0.00864963,
       0.00767208, 0.01766727, 0.00982192, 0.01602797, 0.00824588,
       0.00722761, 0.01202138, 0.00733205, 0.00820198, 0.01306755,
       0.00800979, 0.00522711, 0.01127667, 0.0157041 , 0.00633941,
       0.00783237, 0.00825899, 0.00581364, 0.00776228, 0.00768162,
       0.0066573 , 0.00851785, 0.00709807, 0.00774788, 0.00820248,
       0.00936023, 0.00603042, 0.00701235, 0.00872184, 0.00012099,
       0.01709303, 0.01230655, 0.0108535 , 0.00721825, 0.02669909,
       0.01126578, 0.01708645, 0.01671133, 0.        , 0.01532702])